.button-david-container {
  border: 1px solid #70ecf4;
  display: inline-flex;
  border-radius: 15px;
  padding: 10px 30px;

  margin-top: 50px;

  cursor: pointer;

  transition: 1s ease-in-out;
  opacity: 0;
  .button-david-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #70ecf4;
  }
}
.button-david-container:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.237);
}
