@keyframes loadIn {
  0% {
    opacity: 0%;
    filter: blur(5px);
  }
  75% {
    opacity: 0%;
    filter: blur(5px);
  }
  100% {
    opacity: 100%;
    filter: blur(0px);
  }
}

.custom-button {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;

  border-radius: 50px;
  border: solid 1px #ffffff80;
  box-shadow: 0 0 35px 5px #ffffff18;

  padding: 5px 20px;
  width: 150px;

  z-index: 1;

  transition: 0.7s;

  animation: loadIn 4s;

  .button-text {
    color: whitesmoke;
    text-align: center;
    font-family: "HelsinkiThin", sans-serif;
    font-size: 15px;
    // text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.7s;
  }
}
.custom-button:hover {
  //   border-color: #008383;
  box-shadow: 0 0 35px 5px #0083835e;
}
