.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  height: auto;
  width: 100%;
  flex-direction: column;

  .upper-part {
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
    overflow: hidden;
    .upper-icons {
      position: absolute;
      width: 300px;
      display: flex;
      justify-content: center;
      align-self: center;
      bottom: 0;

      height: 60px;

      overflow: hidden;

      .icon-top {
        cursor: pointer;

        transition: 2s cubic-bezier(0.28, 0.25, 0.09, 1);
        transform: translateY(110%);
      }
    }
  }

  .hr-divider {
    width: 0;
    border: 0;
    height: 1px;
    background-color: white;

    margin: 0 auto;
    padding: 0;

    transition: 1s cubic-bezier(0.32, 0.06, 0.26, 0.98);
  }
  .under-hr {
    display: flex;
    position: relative;
    justify-content: center;
    height: 60px;

    .lower-icons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 200px;
      top: 0;
      padding-top: 10px;
      overflow: hidden;

      .icon-bottom {
        cursor: pointer;
        transition: 2s cubic-bezier(0.28, 0.25, 0.09, 1);
        transform: translateY(-120%);
      }
    }
  }
}
