@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.sub-header-cont {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  margin: 20px 0;
  .sub-header-each-word {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: white;
  }
}
