@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.sub-header-cont {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  .sub-header-each-word {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    overflow: hidden;

    color: white;
    .sub-header-text {
      transform: translateY(-100%);
      position: relative;
      transition: 1.7s cubic-bezier(0.28, 0.2, 0.18, 0.98);
    }
  }
}
