$cyanColor: #00a3a3;
$redColor: #e40000;

.explore-container {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  //   width: 125px;
  .explore-wrap {
    display: flex;
    overflow: hidden;
    align-self: center;
    .each-explore-letter {
      display: inline-flex;
      position: relative;
      transform: translateY(100%);
      transition: 1s cubic-bezier(0.4, 0.02, 0.43, 0.97);
      .explore-text {
        font-family: "HelsinkiThin", sans-serif;
        // font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-size: 40px;
        color: white;
        transition: 1.5s ease;
      }
    }
  }
  .under-explore {
    margin: 0;
    height: 2px;
    width: 0;
    background-color: white;
    border: unset;
    backdrop-filter: invert(90%);
    transition: 1.5s ease;
    align-self: flex-start;
  }
}

.explore-container:hover {
  .each-explore-letter {
    .explore-text {
      color: $cyanColor;
    }
  }
  .under-explore {
    background-color: $cyanColor;
  }

  &.red:hover {
    .each-explore-letter {
      .explore-text {
        color: $redColor;
      }
    }
    .under-explore {
      background-color: $redColor;
    }
  }
}
