.site-video-player {
  position: relative;
  //   top: 0;
  // aspect-ratio: 1.861;
  height: 500px;
  width: 550px;
  z-index: 0;
  transition: 2s;
  opacity: 1;
  display: flex;

  .video-container {
    width: 100%;
    aspect-ratio: 1.861;
    position: relative;
    align-self: center;
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.116);

    --clipper: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);

    clip-path: polygon(
      0 0,
      calc(100% - 32px) 0,
      100% 32px,
      100% 100%,
      32px 100%,
      0 calc(100% - 32px)
    );

    transition: clip-path 1s;

    .black-screen {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;

      transition: 0.75s ease;
    }

    .nav-buttons {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .nav-button {
        width: 40px;
        text-align: center;
        transition: 0.55s ease-in-out;
        display: flex;
        padding: 0 10px;

        cursor: pointer;

        .arrow-container {
          aspect-ratio: 1;
          width: 50px;
          align-self: center;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          transition: 0.5s ease-in-out;
          .arrow {
            margin: auto;
            width: 10px;
          }
          .left-arrow {
            transform: scale(-1);
            margin: auto;
            padding-left: 3px;
          }
          .right-arrow {
            padding-left: 3px;

            margin: auto;
          }
        }
      }
      .fullscreen {
        display: flex;

        .arrow-container {
          transition: 1s ease-in-out;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .fullscreen-icon {
            width: 20px;
          }
        }
        .isFS {
          top: 5%;
        }
      }
      .nav-button:hover {
        .arrow-container {
          background-color: rgba(0, 0, 0, 0.884);
        }
      }
    }
  }
}
.bigger {
  width: 1000px;

  .video-container {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
}

@media only screen and (max-width: 600px) {
  .site-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 20px 0;
    z-index: 4;
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }
}
