.small-nav-container {
  position: absolute;
  // width: 60px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
  right: 0;
  bottom: 0;
  z-index: 1;
  // background-color: aqua;

  .back-to-top {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: solid 1px white;
    align-self: center;
    cursor: pointer;
  }
  .icon-section {
    transition: 1s cubic-bezier(0.28, 0, 0.44, 1);
    transform: translateX(75px);
    cursor: pointer;
  }
  .is-Pc {
    transform: translateX(-85px);
  }
}
@media only screen and (min-width: 601px) {
  .small-nav-container {
    right: unset;
    bottom: unset;
    left: 10px;
  }
}
