.david-small-nav {
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: space-between;

  left: 50%;
  bottom: 10px;

  transform: translateX(-50%);

  .arrow {
    width: 20px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
  }
  .left {
    transform: scaleX(-1);
  }
}
