@keyframes appear {
  0% {
    /* transform: translateY(-50%); */
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    /* transform: translateY(0); */
    filter: blur(0px);
    opacity: 1;
  }
}
button {
  position: absolute;
  right: 0;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.menu-item {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  text-align: right;

  font-size: 10px;
  letter-spacing: 2px;
}
.menu-item:active {
  outline: "none";
}
.menu-list-cont {
  position: absolute;
  /* width: 300px; */
  top: 40px;
  right: 25px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  animation: appear 0.75s ease-out;
}
.in-progress {
  color: rgb(150, 150, 150);
}
